body {
    margin: 0;
}

.lg_tbar {
    height: 50px;
    background: #32373e;
    height: 40px;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.lg_tbar1 {
    display: inline-block;
    width: 50px;
}

.logo {
    width: 43px;
    height: 21px;
    margin-top: 9px;
    background-image: url(http://www.lgstatic.com/www/static/common/widgets/header_c/modules/img/sprite_361857f.png);
    background-position: -10px -10px;
    background-size: 64px 128px;
    display: block;
}

.lg_tbar_m {
    width: 390px;
    margin: 0 auto;
    margin-left: 40px;
    height: 40px;
    padding: 0;
    display: inline-block;
    position: relative;
    top: -5px;
}

.lg_tbar_m a {
    font-size: 14px;
    color: #afb5c0;
    display: block;
    text-align: center;
    text-decoration: none;
}

ul {
    list-style: none;
}

.lg_tbar_l {
    width: 70px;
    line-height: 40px;
    display: inline-block;
}

.lg_tbar_r {
    width: 320px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 80px;
    line-height: 40px;
}

.passport {
    width: 130px;
    height: 40px;
    display: inline-block;
    font-size: 14px;
    color: #afb5c0;
    margin: 0 auto;
}

.lg_app {
    width: 180px;
    height: 40px;
    display: inline-block;
}

.bar1 {
    background: url(http://www.lgstatic.com/www/static/common/widgets/header_c/modules/img/sprite_361857f.png);
    width: 20px;
    height: 20px;
    background-position: 53px 83px;
    display: inline-block;
    position: relative;
    top: 6px;
    left: -4px;
}

.bar2 {
    background: url(http://www.lgstatic.com/www/static/common/widgets/header_c/modules/img/sprite_361857f.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: 66px 46px;
    position: relative;
    top: 4px;
    left: 7px;
}

.app {
    color: #08d7a2;
    font-size: 14px;
}

.passport span {
    display: inline-block;
}

.line {
    width: 18px;
    text-align: center;
}

.lg_os {
    color: #afb5c0;
    text-decoration: none;
    font-size: 14px;
    margin-left: 15px;
}

.search_warper {
    height: 180px;
    margin-bottom: 35px;
    background-color: #f2f5f4;
}

.search_bar {
    padding-top: 30px;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.tab_warper {
    padding-bottom: 13px;
    width: 1200px;
    height: 30px;
    font-size: 16px;
}

.tab_pos {
    background-color: #00b38a;
    color: #fff;
    display: inline-block;
    padding: 7px 10px;
    width: 104px;
    height: 16px;
    line-height: 16px;
}

.tab_comp {
    color: #999;
    display: inline-block;
    padding: 7px 10px;
    width: 75px;
    height: 16px;
}

.input_warper {
    width: 1200px;
    height: 46px;
    line-height: 46px;
}

.keyword {
    padding: 12px 15px;
    width: 791px;
    height: 20px;
    line-height: 20px;
    border-color: #fff;
    border: 1px solid #E8E8E8;
    border-right: 0;
    font-size: 16px;
    float: left;
}

.submit {
    width: 142px;
    height: 46px;
    background-color: #00b38a;
    color: #fff;
    border: 0;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.r_search_tit {
    width: 975px;
    height: 45px;
}

.r_search_tit span {
    margin-top: 7px;
    margin-right: 10px;
    color: #777;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
}

.r_search_con {
    margin-top: 7px;
    width: 850px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    padding: 0;
}

.r_search_a {
    color: #999;
    font-size: 14px;
    text-decoration: none;
}

li {
    list-style: none;
}

.r_search {
    display: inline-block;
    margin-right: 23px;
}

.main_container {
    width: 1200px;
    height: 2770px;
}

.flie_warper {
    background-color: #fafafa;
    border: 1px solid #ededed;
    padding: 6px 0;
    width: 960px;
    height: 203px;
    margin: 0px;
    display: inline-block;
}

.flie_warpera {
    display: inline-block;
    width: 1200px;
    height: 217px;
    position: relative;
    left: 72px;
}

.title {
    padding: 5px 8px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #555;
    font-weight: 600;
}

.li_brief {
    width: 926px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.li_brief1 {
    width: 926px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    padding-bottom: 15px;
}

h2 {
    color: #555;
    font-size: 14px;
    display: inline-block;
    font-weight: normal;
    margin: 0px 15px 0px 0px;
}

.btn_more {
    font-size: 14px;
    color: #555;
    display: inline-block;
    position: absolute;
    right: 280px;
}

.btn-collapse-warper {
    width: 960px;
    height: 17px;
    margin-left: 78px;
}

.btn-collapse {
    margin-left: 480px;
    background-color:#fafafa;
    width: 36px;
    height: 16px;
    border: 1px solid #ededed;
    border-top-color: #fafafa;
    position: relative;
    top: -1px;
    background: url(http://www.lgstatic.com/www/static/search-result/modules/filter/img/arrow_up_b7a7618.png) center no-repeat;
}

.lgad_jsonp {
    width: 210px;
    display: inline-block;
    height: 122px;
    position: relative;
    top: -78px;
    left: 24px;
    background: url(https://www.lgstatic.com/i/image2/M01/53/FF/CgotOV0Vyv6AUwD5AAA4SGoQxrw014.JPG)
}

.order {
    margin-top: 9px;
    background-color: #fafafa;
    border: 1px solid #ededed;
    width: 960px;
    height: 43px;
    position: relative;
    left: 72px;
}

.item_order {
    padding: 10px 0;
    height: 23px;
    margin-right: 35px;
    padding-left: 16px;
    font-size: 14px;
    display: inline-block;
}

.title1 {
    margin-right: 5px;
    width: 39px;
    background-color: #00b38a;
    color: #fff;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
}

.title2 {
    margin-right: 5px;
    width: 39px;
    height: 24px;
    display: inline-block;
    text-align: center;
}

.item_salary {
    margin-right: 40px;
    display: inline-block;
}

.select-text {
    padding: 0 10px 0 5px;
    width: 70px;
    border: 1px solid #f3f3f3;
    background-color: #fff;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
}

.item_type {
    margin-right: 40px;
    display: inline-block;
}

.item_page {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 10px;
}

.prev-ban {
    background: url(http://www.lgstatic.com/www/static/search-result/modules/common/img/icons_6084500.png);
    width: 10px;
    height: 21px;
    background-position: -161px -2px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.late-ban {
    background: url(http://www.lgstatic.com/www/static/search-result/modules/common/img/icons_6084500.png);
    width: 10px;
    height: 21px;
    background-position: -179px -2px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.item_page span {
    font-size: 14px;
    color: #555;
}

#number {
    color: #00b38a;
}

.site {
    background-color: #fff;
    border: 1px solid #ebebeb;
    width: 40px;
    text-align: center;
    margin-left: -6px;
}

.none {
    background-color: #00b38a;
    color: #fff;
    width: 40px;
    text-align: center;
    margin-left: -6px;
}

.position-list {
    width: 960px;
    height: 2269px;
    margin-left: 73px;
}

.item-con-list {
    color: #555;
    border: 1px solid #ededed;
    margin-top: 18px;
}

.item-list-top {
    width: 928px;
    height: 68px;
    padding: 14px 15px 0;
}

.item-positiona {
    width: 520px;
    margin-right: 20px;
    display: inline-block;
}

.position_link {
    text-decoration: none;
}

.position_link h3 {
    font-size: 16px;
    color: #00b38a;
    font-weight: normal;
    display: inline-block;
    margin: 0px 2px;
    overflow: hidden;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.format-time {
    margin: 0 3px;
    color: #999;
    font-size: 14px;
    position: relative;
    top: -3px;
}

.money {
    margin-right: 1em;
    font-size: 16px;
    color: #fd5f39;
}

.year {
    font-size: 14px;
    color: #555;
}

.company {
    width: 303px;
    margin-right: 15px;
    display: inline-block;
}

.company-name {
    text-decoration: none;
    color: #00b38a;
    font-size: 16px;
    display: inline-block;
    height: 34px;
    line-height: 34px;
}

.company-logo img{
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: top;
    background: no-repeat;
    background-size: 60px 60px;
    position: relative;
    top: -34px;
}

.company-logo {
    display: inline-block;
}

.company-mark {
    background: url(http:////www.lgstatic.com/www/static/search-result/modules/positions/img/approve_aae725a.png) no-repeat;
    width: 17px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 5px;
}

.industry {
    font-size: 14px;
    color: #555;
}

.item-list-bon {
    width: 928px;
    height: 40px;
    padding: 0 15px;
    background-color: #fafafa;
}

.li_b_l {
    width: 520px;
    height: 40px;
    margin-right: 20px;
    line-height: 40px;
    font-size: 12px;
    color: #555;
    display: inline-block;
}

.li_b_l span {
    border: 1px solid #dcdcdc;
    padding: 2px 5px;
    height: 20px;
    margin-left: 4px;
}

.li_b_r {
    display: inline-block;
    font-size: 14px;
}

.recommend-city {
    padding-top: 23px;
    margin-bottom: 10px;
    width: 960px;
    height: 170px;
}

.r_commend_tit {
    height: 24px;
    font-size: 16px;
    width: 910px;
    height: 70px;
    display: inline-block;
}

.r_commend_tita {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    width: 938px;
    height: 24px;
}

.r_commend_con {
    margin-top: 10px;
    width: 938px;
    height: 44px;
    padding-left: 0;
}

ul li {
    list-style: none;
}

.r_search_item {
    margin-right: 40px;
    height: 22px;
    line-height: 22px;
    color: #00b38a;
    text-decoration: underline;
    cursor: pointer;
    float: left;
    font-size: 14px;
}

.point {
    display: inline-block;
    width: 32px;
    position: relative;
    top: -40px;
    left: -5px;
}

.point-l {
    font-size: 14px;
    color: #999;
    display: inline-block;
}

.point-r {
    display: inline-block;
    background: url(http://www.lgstatic.com/www/static/search-result/modules/recommendCompanyCity/img/arrow_up_544eb78.png) no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    top: -12px;
    left: 32px;
}

.item-con-page {
    margin-top: 35px;
}

.page-contain {
    width: 377px;
    height: 29px;
    margin: 0 auto;
}

.page-contain h4 {
    display: inline-block;
    font-weight: normal;
}

.page-no1 {
    border: 1px solid #ededed;
    height: 21px;
    line-height: 21px;
    padding: 3px 10px;
    margin: 0 5px;
    font-size: 14px;
}

.page-no2 {
    color: silver;
    border: 1px solid #ededed;
    height: 21px;
    line-height: 21px;
    padding: 3px 10px;
    margin: 0 5px;
    font-size: 14px;
}

.page-no3 {
    height: 21px;
    line-height: 21px;
    padding: 3px 10px;
    margin: 0 3px;
    font-size: 14px;
    background-color: #00b38a;
    color: #fff;
    font-weight: 700;
    border-color: #00b38a;
}

.footer {
    border-top: 1px solid #ebebeb;
    width: 1349px;
    height: 346px;
}

.foot-warper {
    width: 1349px;
    height: 336px;
}

.inner-warper {
    width: 1200px;
    height: 170px;
    margin: 49px auto 66px;
}

.foot-column {
    width: 182px;
    height: 170px;
    line-height: 170px;
    border-right: 1px solid #E8E8E8;
    padding-right: 130px;
    float: left;
}

.foot-column-t {
    width: 180px;
    height: 19px;
    line-height: 19px;
    padding: 10px 0px 8px 0px;
    border: 1px solid #00B38A;
    color: #00B38A;
    text-align: center;
    margin-bottom: 16px;
}

.foot-column-ta {
    width: 180px;
    height: 19px;
    line-height: 19px;
    padding: 10px 0px 8px 0px;
    border: 1px solid #00B38A;
    color: #00B38A;
    text-align: center;
    margin-bottom: 16px;
    position: absolute;
}

.foot-column-ta:hover {
    cursor: pointer;
}

.column-lg {
    display: inline-block;
    width: 15px;
    height: 17px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png);
    background-position: -149px -218px;
}

.column-lga {
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png);
    background-position: -214px 205px;
}

.culumn-lg-app {
    font-size: 14px;
    text-decoration: none;
    color: #00B38A;
    position: relative;
    top: -2px;
    display: inline-block;
}

.foot-weibo {
    font-size: 14px;
    text-decoration: none;
    color:  #555;
    position: relative;
    top: -2px;
}

.column-lgb {
    z-index: 20;
    background-color: #fff;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 196px;
    top: -6px;
    display: none;
    position: absolute;
}

.foot-column-ta:hover .column-lgb {
    display: block;
}

.foot-item {
    display: inline-block;
    width: 182px;
    height: 19px;
    line-height: 19px;
    position: relative;
    top: -18px;
}

.foot-itema {
    font-size: 14px;
    display: inline-block;
    color: #555;
    position: relative;
    top: -2px;
}

.foot-wechat {
    display: inline-block;
    height: 17px;
    width: 17px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png);
    background-position: -114px -182px;
}

.foot-weibo-lg {
    display: inline-block;
    height: 17px;
    width: 17px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png);
    background-position: -213px -17px;
}

.foot-iteml {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
}

.foot-iteml img {
    z-index: 20;
    width: 140px;
    height: 140px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    background-color: #fff;
    position: absolute;
    display: none;
}

.foot-iteml:hover img {
    display: block;
}

.foot-itemr {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    position: relative;
    left: 19px;
}

.foot-business {
    display: inline-block;
}

.business-title {
    font-size: 18px;
    font-weight: 600;
    color: #555;
    margin-bottom: 30px;
    display: block;
}

.foot-business a {
    color: #555;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.tel {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.foot-right {
    padding-left: 130px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.copyright {
    background: #FAFAFA;
    height: 100px;
    line-height: 12px;
    color: #999;
    font-size: 14px;
}

.copyright-main {
    width: 1200px;
    margin: 28px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10px;

}

.copyright-main-left a {
    text-decoration: none;
    color: #999;
}

.copyright-main-left {
    display: inline-block;
    width: 710px;
}

.gongan-lg {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png) -150px -184px no-repeat;
    margin: 0 5px 0 0;
    position: relative;
    top: 2px;
    left: 5px;
}

.gongan {
    display: inline-block;
    margin: 0 0 0 13px;
}

.jubao-lg {
    display: inline-block;
    width: 20px;
    height: 24px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png) -132px -20px no-repeat;
    margin: 0 10px 0 0;
    position: relative;
    top: -6px;
}

.jubao-site {
    line-height: 14px;
    font-size: 12px;
    color: #999;
}

.jubao-sitel {
    display: inline-block;
}

.foot-jubao {
    display: inline-block;
    margin: 0 0 0 20px;
    border: 1px solid #D5DADF;
    padding: 8px 20px;
    position: relative;
    top: 13px;
}

.foot-icon {
    display: inline-block;
    width: 198px;
    height: 19px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/footer_lagou_icon_75f0ebc.png) 0 0 no-repeat;
    position: relative;
    top: 32px;
}

.backtop {
    z-index: 20;
    position: fixed;
    right: 41px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/backtop-new_0e4bcbc.png) left top no-repeat;
    width: 28px;
    height: 46px;
    bottom: 88px;
    cursor: pointer;
}