body {
    margin: 0;
}

.lg_tbar {
    height: 50px;
    background: #32373e;
    height: 40px;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.lg_tbar1 {
    display: inline-block;
    width: 50px;
}

.logo {
    width: 43px;
    height: 21px;
    margin-top: 9px;
    background-image: url(http://www.lgstatic.com/www/static/common/widgets/header_c/modules/img/sprite_361857f.png);
    background-position: -10px -10px;
    background-size: 64px 128px;
    display: block;
}

.lg_tbar_m {
    width: 390px;
    margin: 0 auto;
    margin-left: 40px;
    height: 40px;
    padding: 0;
    display: inline-block;
    position: relative;
    top: -5px;
}

.lg_tbar_m a {
    font-size: 14px;
    color: #afb5c0;
    display: block;
    text-align: center;
    text-decoration: none;
}

ul {
    list-style: none;
}

.lg_tbar_l {
    width: 70px;
    line-height: 40px;
    display: inline-block;
}

.lg_tbar_r {
    width: 320px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 80px;
    line-height: 40px;
}

.passport {
    width: 130px;
    height: 40px;
    display: inline-block;
    font-size: 14px;
    color: #afb5c0;
    margin: 0 auto;
}

.lg_app {
    width: 180px;
    height: 40px;
    display: inline-block;
}

.bar1 {
    background: url(http://www.lgstatic.com/www/static/common/widgets/header_c/modules/img/sprite_361857f.png);
    width: 20px;
    height: 20px;
    background-position: 53px 83px;
    display: inline-block;
    position: relative;
    top: 6px;
    left: -4px;
}

.bar2 {
    background: url(http://www.lgstatic.com/www/static/common/widgets/header_c/modules/img/sprite_361857f.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: 66px 46px;
    position: relative;
    top: 4px;
    left: 7px;
}

.app {
    color: #08d7a2;
    font-size: 14px;
}

.passport span {
    display: inline-block;
}

.line {
    width: 18px;
    text-align: center;
}

.lg_os {
    color: #afb5c0;
    text-decoration: none;
    font-size: 14px;
    margin-left: 15px;
}

.position-head {
    background-color: #f2f5f4;
    padding: 30px 0 11px;
    height: 204px;
}

.position-content {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.company {
    margin: -2px 0 8px 0;
    font-size: 14px;
    color: #555;
    font-weight: normal;
}

.name {
    font-size: 36px;
    color: #333;
    margin: 0;
    font-weight: normal;
    margin-bottom: 13px;
}

h3 {
    font-size: 18px;
    margin: 0 auto 8px;
    font-weight: normal;
}

h3 span {
    font-size: 18px;
}

.salary {
    color: #fd5f39;
}

.labels {
    padding: 0 10px;
    background-color: #fff;
    color: #70797b;
    font-size: 12px;
    border-radius: 10px;
    width: 48px;
    height: 22px;
    line-height: 22px;
}

.publish_time {
    padding-top: 10px;
    font-size: 14px;
    color: #999;
}

.position-contentt {
    margin-left: 31px;
}

.log_positionl {
    display: inline-block;
    height: 44px;
    width: 104px;
    line-height: 44px;
    text-align: center;
    border: 1px solid #00b38a;
    border-radius: 3px;
    background-color: #ebf0ef;
    cursor: pointer;
    font-size: 14px;
    color: #00b38a;
}

.log_positionr {
    display: inline-block;
    margin-left: 17px;
    padding: 0 30px;
    border: 1px solid #00b38a;
    border-radius: 3px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    background-color: #00b38a;
    color: #fff;
    cursor: pointer;
}

.wanshanjianli {
    color: #555;
    font-size: 14px;
}

.personal {
    text-decoration: underline;
    color: #555;
    font-size: 14px;
}

.resume-online {
    display: inline-block;
}

.resume-group {
    display: inline-block;
}

.resume-select {
    margin: 16px 0 11px;
    position: relative;
    left: 34px;
    display: flex;
    justify-content: space-between;
    width: 261px;
}

.tool-icon {
    float: right;
}

.contain-clear {
    width: 1024px;
    margin: 0 auto;
    height: 1506px;
}

.content-l {
    padding-top: 26px;
    width: 696px;
    padding-right: 52px;
    background: url(http://www.lgstatic.com/www/static/job-detail/page/index/img/gradient_e624ed8.png) repeat-y;
    background-position: right;
    height: 1425px;
    display: inline-block;
}

.job-advantage {
    padding: 15px 0 10px;
    color: #333;
}

.job-advantagea {
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-bottom: 13px;
}

.job-describe {
    padding: 15px 0 10px;
    color: #333;
}

.describe {
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-bottom: 13px;
}

h3 {
    font-size: 14px;
    margin: 14px 0px;
}

.address {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.work-address a {
    color: #00b38a;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.dasha {
    font-size: 14px;
}

.watch {
    font-size: 14px;
    color: #00b38a;
    float: right;
}

.publisher {
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.job-publish {
    padding: 5px 0 10px;
    margin-top: 25px;
    margin-bottom: 56px;
}

.publish-p {
    background: url(http://www.lgstatic.com/www/static/job-detail/modules/job-info/img/publisher_c5b292d.png) no-repeat;
    width: 60px;
    height: 60px;
    display: inline-block;
    background-position: -82px 0px;
}

.pcg {
    font-size: 18px;
}

.jingli {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.chat {
    background: url(http://www.lgstatic.com/www/static/job-detail/modules/job-info/img/icon-chat_4a70ffc.png) no-repeat;
    width: 25px;
    height: 25px;
    position: relative;
    top: -30px;
}

.name-middle {
    display: inline-block;
    position: relative;
    top: -10px;
}

.chat {
    display: inline-block;
}
.publish-name {
    display: inline-block;
}

.publish-data {
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

.data-title {
    font-size: 14px;
    color: #555;
    margin-bottom: 4px;
    display: inline-block;
}

.data-titlep {
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url(http://www.lgstatic.com/www/static/job-detail/modules/job-info/img/icon-mark_fc1e516.png) no-repeat;
    cursor: pointer;
    position: relative;
    top: 2px;
    left: -2px;
}

.data-titlem {
    font-size: 16px;
    color: #333;
    margin-bottom: 2px;
    text-align: center;
}

.data-titlel {
    font-size: 12px;
    color: #999;
}

.data {
    color: #fd5f38;
    width: 7px;
}

.data-titlel span {
    float: left;
}

.datap {
    text-align: center;
}

.left {
    display: inline-block;
    padding-left: 27px;
    padding-right: 23px;
}

.contain-border {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

em {
    width: 1px;
    height: 60px;
    background: #f3f3f3;
    margin-top: 10px ;
}

.time {
    float: left;
}

.datal {
    color: #fd5f38;
    float: left;
}

.datar {
    color: #fd5f38;
    float: left;
    margin-right: 5px;
}

.timel {
    float: left;
}

.interview {
    border-top: 1px solid #e8e8e8;
}

.review {
    position: relative;
    top: -14px;
    font-size: 18px;
    padding-right: 16px;
    background-color: #fff;
    display: inline-block;
}

.review-lg {
    display: inline-block;
    background: url(http://www.lgstatic.com/www/static/job-detail/modules/interview-review/img/unhappy_d9b5db5.png);
    height: 45px;
    width: 45px;
    margin-right: 15px;
}

.review-area {
    text-align: center;
    margin: 80px 0;
}

.review-area span {
    position: relative;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    top: -15px;
}

.view-again {
    border-top: 1px solid #e8e8e8;
    position: absolute;
    width: 696px;
}

.view-title {
    display: inline-block;
    font-size: 18px;
    padding-right: 16px;
    background-color: #fff;
    position: relative;
    top: -14px;
}

.view-more {
    display: inline-block;
    color: #00b38a;
    font-size: 14px;
    background-color: #fff;
    padding-left: 10px;
    position: absolute;
    top: -11px;
    right: 0px;
}

.company-logo {
    display: inline-block;
    border: 2px solid #f2f2f2;
    position: relative;
    left: 18px;
}

.company-logo img {
    background-size: 59px 59px;
    width: 60px;
    height: 60px;
}

.design {
    color: #333;
    width: 110px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.salary-btn {
    color: #fd5f39;
    display: block;
    font-size: 14px;
    text-align: center;
    width: 100px;
    margin: 2px 0px;
}

.company-youzan {
    font-size: 14px;
    text-align: center;
    color: #999;
    width: 100px;
    display: block;
}

.name-l {
    display: inline-block;
}

.again {
    display: flex;
    justify-content: space-between;
}

.popular-comany {
    margin-top: 46px;
    margin-bottom: 50px;
}

.popular-comanyl {
    color: #bebebe;
    height: 66px;
    margin-top: 0px;
    float: left;
    font-size: 14px;
}

.so-many {
    width: 556px;
    float: left;
}

.so-many a {
    display: inline-block;
    margin-left: 27px;
    text-decoration: underline;
    color: #999;
    font-size: 14px;
}

.expand {
    display: inline-block;   
}

.expand-l {
    color: #bebebe;
    font-size: 14px;
}

.arrowr {
    display: inline-block;
    background: url(http://www.lgstatic.com/www/static/common/widgets/recommend/img/arrow_up_b0b3c57.png) 0 0 no-repeat;
    width: 10px;
    height: 10px;
}

.footer {
    border-top: 1px solid #ebebeb;
    width: 1349px;
    height: 346px;
}

.foot-warper {
    width: 1349px;
    height: 336px;
}

.inner-warper {
    width: 1200px;
    height: 170px;
    margin: 49px auto 66px;
}

.foot-column {
    width: 182px;
    height: 170px;
    line-height: 170px;
    border-right: 1px solid #E8E8E8;
    padding-right: 130px;
    float: left;
}

.foot-column-t {
    width: 180px;
    height: 19px;
    line-height: 19px;
    padding: 10px 0px 8px 0px;
    border: 1px solid #00B38A;
    color: #00B38A;
    text-align: center;
    margin-bottom: 16px;
}

.foot-column-ta {
    width: 180px;
    height: 19px;
    line-height: 19px;
    padding: 10px 0px 8px 0px;
    border: 1px solid #00B38A;
    color: #00B38A;
    text-align: center;
    margin-bottom: 16px;
    position: absolute;
}

.foot-column-ta:hover {
    cursor: pointer;
}

.column-lg {
    display: inline-block;
    width: 15px;
    height: 17px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png);
    background-position: -149px -218px;
}

.column-lga {
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png);
    background-position: -214px 205px;
}

.culumn-lg-app {
    font-size: 14px;
    text-decoration: none;
    color: #00B38A;
    position: relative;
    top: -2px;
    display: inline-block;
}

.foot-weibo {
    font-size: 14px;
    text-decoration: none;
    color:  #555;
    position: relative;
    top: -2px;
}

.column-lgb {
    z-index: 20;
    background-color: #fff;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 196px;
    top: -6px;
    display: none;
    position: absolute;
}

.foot-column-ta:hover .column-lgb {
    display: block;
}

.foot-item {
    display: inline-block;
    width: 182px;
    height: 19px;
    line-height: 19px;
    position: relative;
    top: -18px;
}

.foot-itema {
    font-size: 14px;
    display: inline-block;
    color: #555;
    position: relative;
    top: -2px;
}

.foot-wechat {
    display: inline-block;
    height: 17px;
    width: 17px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png);
    background-position: -114px -182px;
}

.foot-weibo-lg {
    display: inline-block;
    height: 17px;
    width: 17px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png);
    background-position: -213px -17px;
}

.foot-iteml {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
}

.foot-iteml img {
    z-index: 20;
    width: 140px;
    height: 140px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    background-color: #fff;
    position: absolute;
    display: none;
}

.foot-iteml:hover img {
    display: block;
}

.foot-itemr {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    position: relative;
    left: 19px;
}

.foot-business {
    display: inline-block;
}

.business-title {
    font-size: 18px;
    font-weight: 600;
    color: #555;
    margin-bottom: 30px;
    display: block;
}

.foot-business a {
    color: #555;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.tel {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.foot-right {
    padding-left: 130px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.copyright {
    background: #FAFAFA;
    height: 100px;
    line-height: 12px;
    color: #999;
    font-size: 14px;
}

.copyright-main {
    width: 1200px;
    margin: 28px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10px;

}

.copyright-main-left a {
    text-decoration: none;
    color: #999;
}

.copyright-main-left {
    display: inline-block;
    width: 710px;
}

.gongan-lg {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png) -150px -184px no-repeat;
    margin: 0 5px 0 0;
    position: relative;
    top: 2px;
    left: 5px;
}

.gongan {
    display: inline-block;
    margin: 0 0 0 13px;
}

.jubao-lg {
    display: inline-block;
    width: 20px;
    height: 24px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png) -132px -20px no-repeat;
    margin: 0 10px 0 0;
    position: relative;
    top: -6px;
}

.jubao-site {
    line-height: 14px;
    font-size: 12px;
    color: #999;
}

.jubao-sitel {
    display: inline-block;
}

.foot-jubao {
    display: inline-block;
    margin: 0 0 0 20px;
    border: 1px solid #D5DADF;
    padding: 8px 20px;
    position: relative;
    top: 13px;
}

.foot-icon {
    display: inline-block;
    width: 198px;
    height: 19px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/footer_lagou_icon_75f0ebc.png) 0 0 no-repeat;
    position: relative;
    top: 32px;
}

.backtop {
    z-index: 20;
    position: fixed;
    right: 41px;
    background: url(http://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/backtop-new_0e4bcbc.png) left top no-repeat;
    width: 28px;
    height: 46px;
    bottom: 88px;
    cursor: pointer;
}

.tx-lg {
    background: url(http://www.lgstatic.com/thumbnail_160x160/image1/M00/00/03/CgYXBlTUV_qALGv0AABEuOJDipU378.jpg) no-repeat;
    width: 96px;
    height: 96px;
    display: inline-block;
    background-size: 95px 106px;
    border: 2px solid #f2f2f2;
}

.content-r {
    display: inline-block;
    position: absolute;
    right: 153px;
    top: 330px;
}

.tengxun {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    color: #555;
    margin-left: 5px;
}

.icon-approve {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(http://www.lgstatic.com/www/static/job-detail/modules/job-company/img/approve1_18935f1.png) no-repeat;
    position: relative;
    top: 2px;
}

h5 {
    margin: 20px 0px;
    font-size: 14px;
    font-weight: unset;
    color: #737373;
}

.content-r a {
    font-size: 14px;
    color: #737373;text-decoration: none;
}

.content-m {
    margin-top: 70px;
}

.list-top {
    border-top: 1px solid #e8e8e8;
}

.position-t {
    display: block;
    padding: 0 10px 0px 0;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    top: -13px;
    background-color: #fff;
    width: 82px;
    margin-bottom: -5px;
}

.detail img {
    width: 56px;
    height: 56px;
    border: 2px solid #f2f2f2;
    background-size: 56px 56px;
    margin-right: 12px;
    display: inline-block;
}

.list-h {
    display: inline-block;
}

.list-ha {
    width: 167px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
    display: block;
}

.salaryal {
    color: #e6775c;
    display: block;
}

.list-site {
    width: 167px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color: #999;
    display: block;
}

.detail {
    border-bottom: 1px dashed #e5e5e5;
    padding: 10px 0px;
}

.sign {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(http://www.lgstatic.com/www/static/job-detail/modules/job-recommend/img/similar_position_triangle_544444c.png) no-repeat;
    position: relative;
    top: 8px;
    left: 21px;
}

.item-btm {
    margin: 0px 0px 28px 0px;
    background:  #fafafa;
    height: 35px;
    text-align: center;
    line-height: 35px;
}